.bg-money {
  background-image: url('~@/assets/images/bg-money.jpg');
  background-size: cover;
}

.bg-money-dark {
  background-image: url('~@/assets/images/bg-money-dark.jpg');
  background-size: cover;
}

.bg-city {
  background-image: url('~@/assets/images/bg-city.jpg');
  background-size: cover;
}

.bg-light {
  background-color: rgb(255 255 255 / 0.8);
}

.bg-dark {
  background-color: rgb(0 0 0 / 0.5);
}