.fa-lg,
.font-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.fa-xs,
.font-xs {
  font-size: 0.75em;
}

.fa-sm,
.font-sm {
  font-size: 0.875em;
}

.fa-1x,
.font-1x {
  font-size: 1em;
}

.fa-2x,
.font-2x {
  font-size: 2em;
}

.fa-3x,
.font-3x {
  font-size: 3em;
}

.fa-4x,
.font-4x {
  font-size: 4em;
}

.fa-5x,
.font-5x {
  font-size: 5em;
}

.fa-6x,
.font-6x {
  font-size: 6em;
}

.fa-7x,
.font-7x {
  font-size: 7em;
}

.fa-8,
.font-8x {
  font-size: 8em;
}

.fa-9x,
.font-9x {
  font-size: 9em;
}

.fa-10x,
.font-10x {
  font-size: 10em;
}
