//DRAFT EXCHANGE - Golden theme

//color
$gold-lighter: #fffcf2;
$gold-light: #f8e189; //標籤
$gold: #ddca66; //按鈕
$gold-dark: #b1a05f; //線按鈕
$friendly: #b1a05f; // 溫馨提示

$pending-light: #ffd5d5; //待審核
$pending: #f74f5f;
$pending-dark: #914c4c;

//footer
$footer-info: #ddd;
$footer-bar: #000;

//panel
$huge-panel-bg: rgb(0 0 0/0.75);
$huge-panel-text: #fff;
$panel-bg: #fff;
$panel-text: #3f3f3f;

//Bootstrap variables
$primary: $gold;
$secondary: $gold-dark;

//text-color
$title-color: #909090;
